<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Projects</title>
    <style>
        /* CSS样式 */
    </style>
</head>
<body>
<div class="container">
    <h1>Projects for Teacher: <span th:text="${teacherName}"></span></h1>

    <!-- 如果没有项目，则显示消息 -->
    <div th:if="${not #lists.isEmpty(projects)}">
        <table>
            <thead>
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Laboratory</th>
                <!-- 其他项目属性列 -->
            </tr>
            </thead>
            <tbody>
            <!-- 遍历项目列表 -->
            <tr th:each="project : ${projects}">
                <td th:text="${project.projectId}"></td>
                <td th:text="${project.projectName}"></td>
                <td th:text="${project.laboratory}"></td>
                <!-- 其他项目属性列 -->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(projects)}">
        <p>当前老师还未有项目。</p>
    </div>
</div>
</body>
</html>
